body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #007BFF;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #007BFF;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.download-link, button {
    margin: 10px 0;
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.download-link:hover, button:hover {
    background-color: #0056b3;
}
.input-group {
    margin: 10px 0;
}
.input-group label {
    margin-right: 10px;
}
.input-group input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.bold {
    font-weight: bold;
}

p {
    text-align: justify;
    font-size: small;
}
.small-text {
    font-size:smaller;
    text-align: justify;
    align-content: center;
    padding-top: 5px;
    margin-right:10px;
}
